This technique helps to replace the categorical variable with the count of labels

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('C:\\Users\\Dell\\Python practise\\one hot encoding\\test.csv',usecols=['X1','X2'])
data.head()

  X1  X2
0  v   n
1  b  ai
2  v  as
3  l   n
4  s  as

In [3]:
data.X1

0        v
1        b
2        v
3        l
4        s
        ..
4204     h
4205    aa
4206     v
4207     v
4208    aa
Name: X1, Length: 4209, dtype: object

In [4]:
data.shape

(4209, 2)

In [5]:
pd.get_dummies(data).shape

(4209, 72)

In [6]:
for cols in data.columns:
    print(cols,':',len(data[cols].unique()),'labels')

X1 : 27 labels
X2 : 45 labels

In [7]:
#converting it into dictionary so that we can map later
data.X2.value_counts().to_dict()

{'as': 1658,
 'ae': 478,
 'ai': 462,
 'm': 348,
 'ak': 260,
 'r': 155,
 'n': 113,
 's': 100,
 'f': 85,
 'e': 84,
 'ay': 78,
 'aq': 72,
 'a': 44,
 'b': 38,
 'k': 25,
 't': 25,
 'ag': 23,
 'ac': 20,
 'ao': 19,
 'i': 15,
 'z': 12,
 'ap': 11,
 'p': 10,
 'aw': 9,
 'd': 6,
 'h': 6,
 'q': 5,
 'g': 5,
 'au': 5,
 'ad': 4,
 'ab': 4,
 'al': 4,
 'af': 4,
 'w': 3,
 'am': 3,
 'ah': 3,
 'at': 3,
 'j': 2,
 'x': 2,
 'ax': 1,
 'aj': 1,
 'u': 1,
 'y': 1,
 'av': 1,
 'an': 1}

In [8]:
counts_x1=data.X2.value_counts().to_dict()
counts_x1

{'as': 1658,
 'ae': 478,
 'ai': 462,
 'm': 348,
 'ak': 260,
 'r': 155,
 'n': 113,
 's': 100,
 'f': 85,
 'e': 84,
 'ay': 78,
 'aq': 72,
 'a': 44,
 'b': 38,
 'k': 25,
 't': 25,
 'ag': 23,
 'ac': 20,
 'ao': 19,
 'i': 15,
 'z': 12,
 'ap': 11,
 'p': 10,
 'aw': 9,
 'd': 6,
 'h': 6,
 'q': 5,
 'g': 5,
 'au': 5,
 'ad': 4,
 'ab': 4,
 'al': 4,
 'af': 4,
 'w': 3,
 'am': 3,
 'ah': 3,
 'at': 3,
 'j': 2,
 'x': 2,
 'ax': 1,
 'aj': 1,
 'u': 1,
 'y': 1,
 'av': 1,
 'an': 1}

In [9]:
data.X2=data.X2.map(counts_x1)
data.head()

  X1    X2
0  v   113
1  b   462
2  v  1658
3  l   113
4  s  1658