In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train.csv',usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [3]:
df['Cabin'].fillna('Missing')

0      Missing
1          C85
2      Missing
3         C123
4      Missing
        ...
886    Missing
887        B42
888    Missing
889       C148
890    Missing
Name: Cabin, Length: 891, dtype: object

In [4]:
df['Cabin']=df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     n
1         1     C
2         1     n
3         1     C
4         0     n

In [5]:
Prob_surv=df.groupby(['Cabin'])['Survived'].mean()
Prob_surv

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
T    0.000000
n    0.299854
Name: Survived, dtype: float64

In [6]:
prob_surv=pd.DataFrame(Prob_surv)
prob_surv.head()

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000

In [7]:
prob_surv['Died']=1-prob_surv['Survived']
prob_surv

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000
F      0.615385  0.384615
G      0.500000  0.500000
T      0.000000  1.000000
n      0.299854  0.700146

In [8]:
prob_surv['Prob_ratio']=prob_surv['Survived']/prob_surv['Died']
prob_surv.head()

       Survived      Died  Prob_ratio
Cabin
A      0.466667  0.533333    0.875000
B      0.744681  0.255319    2.916667
C      0.593220  0.406780    1.458333
D      0.757576  0.242424    3.125000
E      0.750000  0.250000    3.000000

In [9]:
probablity_ratio=prob_surv['Prob_ratio'].to_dict()
probablity_ratio

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'T': 0.0,
 'n': 0.42827442827442824}

In [10]:
df['Cabin_encoded']=df['Cabin'].map(probablity_ratio)
df.head()

   Survived Cabin  Cabin_encoded
0         0     n       0.428274
1         1     C       1.458333
2         1     n       0.428274
3         1     C       1.458333
4         0     n       0.428274