# Target guided ordinal encoding

1) ordering labels according to the target
2) replce the labels by joint probablity of being 0 and 1

In [4]:
import pandas as pd
df=pd.read_csv('train.csv',usecols=['Survived','Cabin'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [7]:
df['Cabin'].fillna('Missing',inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [8]:
#now since we can see in the cabien there are c85 c123 etc but this all fall in C block so taking 1st element of all and replacing

In [9]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [10]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [11]:
df.groupby(['Cabin'])['Survived'].sum()

Cabin
A      7
B     35
C     35
D     25
E     24
F      8
G      2
M    206
T      0
Name: Survived, dtype: int64

In [12]:
# this gives in each column number of people survived

In [17]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [18]:
#ranking with numbers since it is already sorted

In [19]:
ordinal_ranking={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_ranking

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [20]:
#now simply map with cabin

In [21]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_ranking)

In [22]:
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

Here tageted feature was survived mean according to the cabin feature i.e we first find the order of people survived according to the cabin and then ranked following with mapping to it

# Mean ordinal Encoding

In [25]:
mean_ordinal = df.groupby('Cabin')['Survived'].mean()
mean_ordinal

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [26]:
df['Mean_ordinal_encoding']=df['Cabin'].map(mean_ordinal)
df.head()

   Survived Cabin  Cabin_ordinal_labels  Mean_ordinal_encoding
0         0     M                     1               0.299854
1         1     C                     4               0.593220
2         1     M                     1               0.299854
3         1     C                     4               0.593220
4         0     M                     1               0.299854

We simply mapped with mean of respective cabin feature